<canvas id='canvas' width='500' height='500'></canvas>
<script>
  var draw = document.getElementById('canvas').getContext('2d');
  
  function mousedown() {
    
  }
  
  function mouseup() {
    
  }
  
  function render() {
    draw.clearRect(0, 0, 500, 500);
  }
  
  document.addEventListener('mousedown', mousedown);
  document.addEventListener('mouseup', mouseup);
  setInterval(render, 1000/60);
</script>